@use '@/styles/_variables.scss' as *;
@use '@/styles/_utilities.scss' as *;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;
  min-height: 100vh;
}

body {
  background: $body-bg;
}

main {
  margin-top: 2rem;

  .weather-content {
    @include md 
    {
      display: grid;
      grid-template-columns: 3fr 1.5fr;
      gap: 2rem;
      align-items: start;
    }
  }

  h1 {
    font-family: $font-heading;

    @include md {
      font-size: 3rem;
    }
  }

  .search-error {
    margin-top: 4rem;
    
    p {
      color: $neutral-200;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}

