@use '@/styles/_variables.scss' as *;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;
  height: 100%;
}

body {
  background: $body-bg;
}

main {
  margin-top: 2rem;

  h1 {
    font-family: $font-heading;
  }
}