@use './fonts';
@use './variables' as *;
@use './utilities' as *;

// 🌍 Reset básico
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: $font-primary;
  color: $main-text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,
p {
  margin: 0;
  font-family: $font-heading;
}

a {
  text-decoration: none;
  color: inherit;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  color: inherit;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  transition: all .3s ease-in-out;
}

button:hover {
  transition: .5s linear ease-in-out;
}

img {
  display: block;
  height: auto;
}

input {
  font-family: inherit;
  border: none;
  background-color: transparent;
}