@use '@/styles/utilities.scss' as *;
@use '@/styles/variables.scss' as *;

.weather-card {

    // bg-today image for two views, bg-today-small and large using utilities mixins

    background-image: url(/images/bg-today-small.svg);
    background-size: 100% auto;
    background-position: top center;

    @include md {
        background-image: url(/images/bg-today-large.svg);
    }

    .weather-card__info{
        gap: .65rem;

        h2 {
            font-size: 1.5rem;
        }

        .weather-card__date{
            font-size: 0.8rem;
            color: $neutral-200;
        }

    } 

    .weather-card__weather{
        gap: 1.85rem;
        img {
            width: 50px;
            height: 50px;
        }

        .weather-card__temperature{
            font-size: 5rem;
        }
    }
}