@use '@/styles/_variables.scss' as *;
@use '@/styles/_utilities.scss' as *;

.search-container-wrapper {
    position: relative;
    margin-block: 2rem;
    z-index: 50;

    @include md {
        margin-block-start: 4rem;
        max-width: 43.75rem; // 700px
        margin-inline: auto;
    }
}

.search-form {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    @include md {
        flex-direction: row;
        gap: 1rem;
    }

    .search-bar-container {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;

        .search-icon {
            position: absolute;
            left: 10px;

            @include md {
                left: 20px;
            }

            img {
                width: 20px;
                height: 20px;
            }
        }

        input {
            padding-left: 40px;
            width: 100%;
            padding-block: .65rem;
            border-radius: 10px;
            border: none;
            outline: none;
            background-color: $neutral-700;
            color: $neutral-200;
            font-weight: 500;
            cursor: pointer;
            transition: background-color .4s ease-in-out;

            @include md {
                padding-block: .85rem;
                padding-left: 52px;
            }

            &:hover {
                background-color: $neutral-600;
            }

            &:focus-visible {
                outline: 2px solid $neutral-0;
                outline-offset: 2px;
            }

            &::placeholder {
                color: $neutral-200;
            }
        }
    }

    button[type='submit'] {
        background-color: $blue-500;
        padding: .75rem 1rem;
        border-radius: 8px;
        color: $neutral-0;
        font-weight: 600;
        transition: background-color .4s ease-in-out;

        &:hover {
            background-color: $blue-700;
        }

        &:focus-visible {
            outline: 2px solid $blue-500;
            outline-offset: 2px;
        }
    }
}   

