@use '@/styles/_variables.scss' as *;

.search-container-wrapper {
    position: relative;
    margin-block: 2rem;
    z-index: 50;
}

.search-form {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    .search-bar-container {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;

        .search-icon {
            position: absolute;
            left: 10px;
            img {
                width: 20px;
                height: 20px;
            }
        }

        input {
            padding-left: 40px;
            width: 100%;
            padding-block: .65rem;
            border-radius: 10px;
            border: none;
            outline: none;
            background-color: $neutral-600;
            color: $neutral-200;
            font-weight: 500;

            &::placeholder {
                color: $neutral-200;
            }
        }
    }

    button[type='submit'] {
        background-color: $blue-500;
        padding: .75rem 1rem;
        border-radius: 8px;
        color: $neutral-0;
        font-weight: 500;
        transition: background-color .4s ease-in-out;

        &:hover {
            background-color: $blue-700;
        }
    }
}   

