@use "@/styles/_variables.scss" as *;
@use "@/styles/_utilities.scss" as *;

.daily-forecast {
  margin-top: 2rem;

  .section-title {
    font-size: 0;
    color: $neutral-0;
    margin-bottom: 1rem;
    text-align: left;

    @include md {
      font-size: 1.5rem;
    }
  }

  .forecast-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    @include md {
      grid-template-columns: repeat(7, 1fr);
    }
    .forecast-item {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      background-color: $neutral-800;
      border-radius: 0.5rem;
      outline: 1px solid $neutral-600;

      .day {
        color: $neutral-200;
        font-weight: 500;
        font-size: 0.875rem;
      }

      .weather-icon {
        width: 3rem;
        height: 3rem;
        object-fit: contain;
      }

      .temps {
        display: flex;
        gap: 0.5rem;
        font-size: 1rem;
        font-weight: 500;

        .max {
          color: $neutral-200;
        }

        .min {
          color: $neutral-300;
        }
      }
    }
  }
}
